*{ margin: 0px;padding: 0px;}
body{   background-color:#293f50;
        color: rgb(255, 255, 255);}

a       {text-decoration: none; color: rgb(255, 255, 255); }

a:hover { text-decoration: none; color: rgb(161, 158, 158)  }


 header{
        width: 750px ; height: 300px; ;
        margin:auto;
        font-family:Calibri Light,Arial, Helvetica, sans-serif;
        font-weight:100;}
                   
.logo{
        text-transform:uppercase;
        float:left;
        font-size:41px;
        font-weight:inherit;
        letter-spacing:1px; 
        position:relative; top: 45px; left:10px;
        line-height:38px; }

.f-logo{position: relative;
        width:30px; height:30px; 
        border-radius: 50%; 
        animation: x 3s ; }

 @keyframes x {  0%{bottom: 80px;} 
                       100%{bottom: 0px;} }
                  
.datum{ position: relative;top: 70px; right:0px;
        color:#648880;
        font-weight: inherit;
        text-align:right;
        padding:7px;
        margin-right:10px;}

ul      {display: inline-flex;}

.list{   position: relative;right:0px;top: 55px;
         margin:10px; padding:10px;text-align: end;}
li{
        font-size:14px;
        padding: 5px;
        text-transform:uppercase;
        list-style: none}

.p1{    border: white solid 3px ; border-radius: 10px;
        font-size: 23px; text-align: center; 
        position:relative; top: 100px ; text-transform: uppercase; font-weight: 500;}

.foto{    border-radius: 50%; height: 310px; position:absolute; left: 320px; top:0px;}



.all{    color: #293f50;
        height:400px;width: 100%;
        background-color: rgb(255, 255, 255); 
        margin: auto; position: relative;}

.container
        {height: 300px;
        width: 750px;
        margin:auto;
        position: relative; top: 50px }

input{ border-radius: 6px;}

footer{
        width: 750px;
        font-family:Calibri Light,Arial, Helvetica, sans-serif;
        text-transform:uppercase;
        float: right;

}
